html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Codigo Real */
:root
{
    --primary-color: #E2A0A9;
}

html
{
    font-family: 'Montserrat', sans-serif;
}

h2
{
    font-size: 2.1rem;
    font-weight: 600;
}

h3
{
    font-family: 'Comforter', cursive;
    font-size: 2rem;
    font-weight: 400;
}

#main
{
    background-image: url('../img/background.png');
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: top;
    height: 50em;
    /* padding: 15rem 0; */
}

nav .menu-item
{
    display: inline;
    font-size: 0.98em;
    padding: 1em;
    margin: 0 1em;
    color: black;
}

nav:not(.menu-item)
{
    padding: 0em 2em;
    background-color: #ccabb8;
}

.menu-item.reg
{
    border: 3px solid #000;
    background-color: transparent;
    border-radius: 10px;
}

.menu
{
    text-align: right;
    padding: 2em 0;
    /* background-color: green; */
}

.main-content
{
    width: 50%;
    margin: auto 6em;
    float: right;
    padding: 10rem 0;
    text-align: justify;
    /* background-color: brown; */
}

.boton
{
    margin: 1em;
    padding: 1em;
    background-color: #ccabb8;
    border-radius: 10px;
    border: 2px dashed #000;
}

section
{
    width: 90%;
    margin: 2em auto;
}

footer
{
    background-color: bisque;
    padding: 1em;
}

footer ul li
{
    display: inline;
}

.logo
{
    float: left;
    width: 80px;
}